<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">
           <!-- 开启 Spring Security 调试模式-->
    <debug />
	<http pattern="/index.html" security="none"/>
	<http pattern="/login.jsp" security="none"/>
	<http pattern="/login.do" security="none"/>
	<http pattern="/res/**" security="none"/>
 	<http>
 	 	<form-login login-page="/login.jsp" default-target-url="/main.do" authentication-failure-url="/error-noauth.jsp"/>
        <!--访问/admin.jsp资源的用户必须具有ROLE_ADMIN的权限 -->
        <intercept-url pattern="/admin.jsp" access="ROLE_ADMIN" />
        <!--访问/**资源的用户必须具有ROLE_USER的权限 -->
        <intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN" />
         <logout logout-url="/logout.do" logout-success-url="/index.html" invalidate-session="true"  
                delete-cookies="JSESSIONID,SPRING_SECURITY_REMEMBER_ME_COOKIE"/> 
        <session-management invalid-session-url="/invalidSession.html">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="false" />
        </session-management>
         <!-- 用于 cookie 登陆 remember-me-parameter 中的值必须和表单中的 rememberMe name 一致 -->
        <remember-me remember-me-parameter="rememberMe" />
    </http>
    
    <!-- 认证管理器，实现用户认证的入口，主要实现userDetailsService -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsService">
        	<!-- 密码加密 -->
			<!-- <password-encoder ref="myPasswordEncoder"/> -->
        </authentication-provider>
    </authentication-manager>
        
  	<beans:bean id="userDetailsService" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
 		 <beans:property name="dataSource" ref="dataSource_db_1"/>
 	</beans:bean>
	<!-- 密码加密 -->
	<beans:bean id="myPasswordEncoder" class="org.myframework.web.security.second.MyPasswordEncoder"/>
	
</beans:beans>